lloguerCotxes.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.iessonferrer.net/pbojar/lloguerCotxes"
elementFormDefault="qualified">

<xsd:element name="lloguerCotxes">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="cotxe">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="marca" type="xsd:string" />
						<xsd:element name="model" type="xsd:string" />
						<xsd:element name="color" type="xsd:string" />
						<xsd:element name="equipacio">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="climatitzador" type="xsd:string" />
									<xsd:element name="airbagsLaterals" type="xsd:string" />
									<xsd:element name="automatic" type="xsd:string" />
									<xsd:element name="cadiraNinPetit" type="xsd:string" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="matricula" type="xsd:string" />
			</xsd:complexType>
			</xsd:element>	
	
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
</xsd:schema>
